footer ul {
  margin-bottom: 0px;
}

.page-header {
  margin: 10px 0 20px;
}

.x_panel {
  height: 350px;
}

.x_panel.small {
  height: unset;
}

.x_content.small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}