.x_title h2 {
  width: 95%;
  font-size: 17px;
}

footer ul {
  margin-bottom: 0px;
}

.page-header {
  margin: 10px 0 20px;
}

.x_panel {
  height: 350px;
}

.x_panel.small {
  height: unset;
}

.x_content.small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.list-inline > .active {
  font-weight: bold;
}

.nav_title { 
  width: 170px;
}

.nav-md .container.body .col-md-3.left_col {
  width: 170px;
}

.nav-md .container.body .right_col {
  margin-left: 170px;
}

@media (min-width: 992px) {
  footer {
    margin-left: 170px;
  }
}

@media (max-width: 991px) {
  .nav-md .container.body .right_col {
    padding-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 1100px) {
  .col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-md-9,  .col-xs-12, .col-lg-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 1635px) {
  .col-xl-2,{
    float: left;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
}

.device-list-small{
  display: none;
}

@media (max-width: 991px) {
  .device-list-small{
      display: inline;
  }
}
