footer ul {
  margin-bottom: 0px;
}

.page-header {
  margin: 10px 0 20px;
}

.x_panel {
  height: 350px;
}

.x_panel.small {
  height: unset;
}

.x_content.small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
